* {
    /*color: var(--primary);*/
    .draggable-area {
        background-color: var(--secondary-bg);
        border-right: 1px solid var(--border-lines);
        justify-content: center;
        align-items: center;
    }

    .ddicon {
        color: blue;
    }
    .action-buttons_wrapper {
        background-color: var(--secondary-bg);
    }
}